* {
  padding: 0;
  margin: 0;
  --main_color: black;
  --contrast_color: white;
  --hue_color: gold;
  font-family: "Montserrat", sans-serif;
  color: var(--contrast_color);
  box-sizing: border-box;
  font-weight: 300;
}
body {
  background-color: var(--main_color);
  /* background-color: aliceblue; */
}
a {
  text-decoration: none;
}
img {
  filter: invert(1);
  width: 100%;
}
button {
  background-color: transparent;
  border: 2px solid var(--contrast_color);
  padding: 0.5vw 1.5vw;
  border-radius: 5em;
  font-weight: 400;
}

/* Header */

.head {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: var(--main_color);
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}
.logo {
  --b: 2px; /* thickness of the border */
  --c: var(--hue_color); /* color of the border */
  --w: 15px; /* width of border */

  border: var(--b) solid #0000; /* space for the border */
  --_g: #0000 90deg, var(--c) 0;
  --_p: var(--w) var(--w) border-box no-repeat;
  background: conic-gradient(
        from 90deg at top var(--b) left var(--b),
        var(--_g)
      )
      0 0 / var(--_p),
    conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 /
      var(--_p),
    conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% /
      var(--_p),
    conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
      100% 100% / var(--_p);

  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-size: 30px;
  color: var(--contrast_color);
}
.name {
  letter-spacing: 3px;
  font-weight: 700;
}

.main-menu {
  display: flex;
  align-items: end;
  gap: 2vw;
}
.main-menu a {
  font-size: 12px;
  opacity: 0.9;
}
.main-menu a:hover {
  font-size: 15px;
  opacity: 1;
  border-bottom: 0.5px solid white;
  font-weight: 400;
}
.main-menu a:nth-child(2) {
  font-size: 15px;
  opacity: 1;
  border-bottom: 0.5px solid white;
  font-weight: 400;
}

.log-in-out {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.sign-up,.sign-out {
  opacity: 0.7;
  text-decoration: underline;
}
.sign-up:hover, .sign-out:hover {
  cursor: pointer;
}
.log-in:hover {
  box-shadow: 2px 2px 8px var(--contrast_color);
  transform: scale(1.1);
  cursor: pointer;
}

/* Welcome */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8vw;
  background-color: var(--main_color);
  padding: 0 4vw;
  margin: 2vw 0;
  position: relative;
}
hr {
  position: relative;
  top: 35%;
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}
.profile-pic {
  filter: invert(0);
  filter: grayscale(100%);
  width: auto;
  height: 5vw;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  z-index: 5;
}

.welcome-text {
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  position: absolute;
  bottom: 0;
}
.welcome-text h3 {
  font-weight: 700;
  font-size: 25px;
}
.welcome-text h4 {
  font-weight: 300;
  font-size: 25px;
}
@keyframes borderGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
}

.profile-pic {
  animation: borderGlow 10s infinite;
}

/* Main - services */

.main-content {
  width: 100%;
  height: 100vh;
  padding: 4vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  position: relative;
}
.bg-main {
  position: absolute;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  filter: invert(0);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(/assets/img/H0kNFJ.webp);
  background-size: cover;
  background-size: 100%;
}

.service-card {
  padding: 2vw;
  gap: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 200px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}
.img-card {
  width: 10vw;
}
.title-card {
  text-align: center;
}
.service-card p {
  opacity: 0.5;
}

/* Modales */

.modal-not-show {
  display: none;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal-container {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 10%;
  right: 25%;
  background-color: var(--contrast_color);
  z-index: 20;
  color: var(--main_color);
  display: flex;
}
.modal-container h2 {
  font-weight: 700;
  margin: 2vw;
}

.modal-title-div {
  width: 50%;
  height: 100%;
  background: linear-gradient(45deg, rgb(10, 10, 10) 0%, rgb(50, 50, 50) 100%);
  display: flex;
  align-items: center;
}
.modal-show {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 4vw;
  gap: 2vw;
}

.input-div {
  border: 1px solid var(--main_color);
  height: 3vw;
  display: flex;
}
.input-div img {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255);
}
.input-div input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 0;
  color: var(--main_color);
  padding-left: 1vw;
  font-weight: 400;
}

.modal-show button {
  background-color: var(--main_color);
  height: 3vw;
  width: 40%;
}

.modal-signUp {
  align-items: flex-end;
}
.modal-logIn {
  align-items: flex-start;
}
.submit-form-div {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1vw;
}

.submit-form-div p {
  color: var(--main_color);
  text-decoration: underline;
}

.submit-form-div p:hover,
button {
  cursor: pointer;
}
